<!-- Start Footer -->
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <footer class=" py-2">
    <div class="container">
      <h2>Mohamed Sabry</h2>
      <ul class="links-footer flex-wrap">
        <li><a (click)="goToPart('hero')">About</a></li>
        <li><a (click)="goToPart('skills')">Skills</a></li>
        <li><a (click)="goToPart('experience')">Experience</a></li>
        <li><a (click)="goToPart('projects')">Projects</a></li>
        <li><a (click)="goToPart('education')">Education</a></li>
      </ul>
      <ul class="social-links flex-wrap">
        <li><a target="_blank" href="https://www.facebook.com/mohammed.sabry.31521301"><i class="fa-brands fa-lg fa-facebook-f" style="color: #ffffff;"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/mohamed-sabry-abdelmordy-b012441b0/"><i class="fa-brands fa-lg fa-linkedin" style="color: #ffffff;"></i></a></li>
        <li><a target="_blank" href="https://wa.me/+201069803585"><i class="fa-brands fa-lg fa-whatsapp" style="color: #ffffff;"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/abdelmordy_s"><i class="fa-brands fa-lg fa-twitter" style="color: #ffffff;"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/mohamed_s_abdelmordy"><i class="fa-brands fa-lg fa-instagram" style="color: #ffffff;"></i></a></li>
      </ul>
      <p>&copy; 2023 Mohamed Sabry. All rights reserved.</p>
    </div>
  </footer>
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <!-- End Footer -->
