<!-- Start Projects -->
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <section id="projects" class="Projects py-2">
    <div class="container">
      <div class="top text-center">
        <h3 class="title">Projects</h3>
        <p>I have worked on a wide range of projects. From web apps to android apps. Here are some of my projects.</p>
      </div>
      <div class="projects-container">
        <ul class="links-projects">
          <li class="active" data-filter="all">All</li>
          <li data-filter="angular">Angular</li>
          <li data-filter="vanilla">Vanilla Javascript</li>
          <li data-filter="companies">Companies Tasks</li>
        </ul>
        <div class="projects-cards">
          <div class="project">
            <img src="" alt="">
            <ul class="tools">
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
            </ul>
            <div class="project-name">Trackify</div>
            <div class="date"><span class="start-date">March 2022</span> - <span class="end-date">September 2022</span></div>
            <p class="description">Trackify is a web application designed to streamline task management and enhance productivity in the workplace. It provides a user-friendly interface for employers to keep track of their employees' daily work activities and empowers employees to log their tasks efficiently. Admin Credentials: # Email: testadmin@gmail.com #Password- 123@testadmin, Employee Credentials: #Email: testemployee@gmail.com #Password- 123@Testemployee</p>
            <div class="authers">
              <img src="" alt="">
              <img src="" alt="">
            </div>
          </div>
          <div class="project">
            <img src="" alt="">
            <ul class="tools">
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
            </ul>
            <div class="project-name">Trackify</div>
            <div class="date"><span class="start-date">March 2022</span> - <span class="end-date">September 2022</span></div>
            <p class="description">Trackify is a web application designed to streamline task management and enhance productivity in the workplace. It provides a user-friendly interface for employers to keep track of their employees' daily work activities and empowers employees to log their tasks efficiently. Admin Credentials: # Email: testadmin@gmail.com #Password- 123@testadmin, Employee Credentials: #Email: testemployee@gmail.com #Password- 123@Testemployee</p>
            <div class="authers">
              <img src="" alt="">
              <img src="" alt="">
            </div>
          </div>

        </div>
      </div>
      <div class="button text-center">
        <a class="show-more" routerLink="/projects">Show More</a>
      </div>
    </div>
  </section>
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <!-- End Projects -->
