<!-- Start Skills -->
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <section id="skills" class="skills py-2">
    <div class="container">
      <div class="top text-center">
        <h3 class="title">Skills</h3>
        <p>Here are some of my skills on which I have been working on for the past 2 years.</p>
      </div>
      <div class="container-packages">
        <div class="package">
          <h4 class="title">Frontend</h4>
          <div class="tools">
            <div class="tool">
              <img src="./images/icons/html5-badge-h-solo.png" alt="">
              <div class="name">HTML</div>

            </div>
            <div class="tool">
              <img src="./images/icons/html5-badge-h-solo.png" alt="">
              <div class="name">CSS</div>

            </div>
            <div class="tool">
              <img src="./images/icons/html5-badge-h-solo.png" alt="">
              <div class="name">Javascript(ES6)</div>

            </div>
            <div class="tool">
              <img src="./images/icons/html5-badge-h-solo.png" alt="">
              <div class="name">Jquery</div>
            </div>
            <div class="tool">
              <img src="./images/icons/html5-badge-h-solo.png" alt="">
              <div class="name">Bootstrap</div>
            </div>
          </div>
        </div>
        <div class="package">
          <h4 class="title">Frontend</h4>
        <div class="tools">
          <div class="tool">
            <img src="./images/icons/html5-badge-h-solo.png" alt="">
            <div class="name">HTML</div>
          </div>
          <div class="tool">
            <img src="./images/icons/html5-badge-h-solo.png" alt="">
            <div class="name">HTML</div>
          </div>
          <div class="tool">
            <img src="./images/icons/html5-badge-h-solo.png" alt="">
            <div class="name">HTML</div>
          </div>
          <div class="tool">
            <img src="./images/icons/html5-badge-h-solo.png" alt="">
            <div class="name">HTML</div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <!-- End Skills -->
