.hero{
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 70% 95%, 0px 100%);
  background: rgb(25, 25, 36);
  overflow: hidden;
  .container{
    display: flex;
    flex-wrap: wrap;
    .left{
      h1{
        @include textStyle(50px,700,$white_color-1);
        line-height: 68px;
      }
      h2{
        @include textStyle(30px,500,$white_color-1);
        font-family: Poppins,sans-serif;
        span{
          color: $gradient_color-1;
        }
      }
      p{
        font-size: 20px;
        color: $white_color-2;
        line-height: 32px;
        margin-top: 10px;
      }
      a{
        display: block;
        margin-top: 15px;
        width: fit-content;
        @extend .downloadCvButton;
      }
    }
    .right{
      position: relative;
      .image{
        position: absolute;
        z-index: 8;
        left: 50%;
        transform: translate(-50%);
        width: 350px;
        height: 350px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      svg{
        position: absolute;
        top: -5rem;
      }
    }
  }
}

@include devices(largeScreen){
  .hero .right {
    
  }
  .hero .left {

  }
}

@include devices(tablet){

}
@include devices(mobile){
  .hero .container .right {
    height: fit-content;
    .image{
      width: 250px;
      height: 250px;
    }
    svg{
      top: 4rem;
    }
  }
  .hero .left {
    h1{
      @include textStyle(35px,600,$white_color-1);
        line-height: 45px;
    }
    .type-writer{
      font-size: 25px;
    }
  }

}


.skills{
  //background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
  .container{
    .container-tools{
      .package{
        display: flex;
      }
    }
  }
}


section.experience{
  padding: 3rem 0;
  background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
    // width: 100%;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
}

section.Projects{
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 100% 98%, 0px 100%);
  background: linear-gradient(343.07deg, rgba(132, 59, 206, 0.06) 5.71%, rgba(132, 59, 206, 0) 64.83%);
  .container{
    // text-align: center;
    .show-more{
      display: block;
      margin-top: 15px;
      width: fit-content;
      @extend .downloadCvButton;
      margin: 1.5rem auto;
    }
  }
}

section.education{
  background: none;
}
section.contact{
  background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
    width: 100%;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
}





@include devices(largeScreen){
  // @extend .hero;
}

@include devices(smallScreen){
  .hero .container{
    padding-bottom: 30px;
    flex-direction: column-reverse;
    .left,.right{
      width: 100%;
    }
    .right{
      height: fit-content;
      position: unset;
      height: 350px;
      .image{
        position: unset;
        margin: auto !important;
        transform: translate(0);
      }
      svg{
        z-index: -1;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 10px;
      }
    }
    .left{
      text-align: center;
      margin-top: 45px;
      a{
        margin: 15px auto;
      }
    }
  }
}
