<!-- Start Experience -->
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <section id="experience" class="experience py-2">
    <div class="container">
      <div class="top text-center">
        <h3 class="title">Experience</h3>
        <p>My work experience as a software engineer and working on different companies and projects.</p>
      </div>
      <div class="container-experience">
        <div class="experience left-bulit">
          <div class="head">
            <img src="" alt="" width="50" height="50">
            <div class="right">
              <div class="job-title">Angular Developer</div>
              <div class="company">IClick Soft</div>
              <div class="date"><span class="start-date">March 2022</span> - <span class="end-date">September 2022</span></div>
            </div>
          </div>
          <p class="info">Working on Flipr Platforms, managing DevOps, and streamlining the process with automation.</p>
          <div class="skills-use">
            <div class="title">Skills: </div>
            <ul class="skills">
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
            </ul>
          </div>
        </div>
        <div class="experience left-bulit">
          <div class="head">
            <img src="" alt="" width="50" height="50">
            <div class="right">
              <div class="job-title">Angular Developer</div>
              <div class="company">IClick Soft</div>
              <div class="date"><span class="start-date">March 2022</span> - <span class="end-date">September 2022</span></div>
            </div>
          </div>
          <p class="info">Working on Flipr Platforms, managing DevOps, and streamlining the process with automation.</p>
          <div class="skills-use">
            <div class="title">Skills: </div>
            <ul class="skills">
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
              <li>HTML</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <!-- End Experience -->
