$main_color:rgb(25, 25, 36);
$white_color:white;
$white_color-1:rgb(242, 243, 244);
$white_color-2:rgba(242, 243, 244, 0.584);
$gradient_color-0:gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
$gradient_color-1:rgb(133, 76, 230);