.github-btn{
  border: 1px solid $gradient_color-1;
  border-radius: 50px;
  height: fit-content;
  color: $gradient_color-1;
  padding: 5px 13px;
  background-color: transparent;
  transition: $delay-transition-3;
  &:hover{
    color: $white_color;
    background-color: $gradient_color-1;
  }
}

.downloadCvButton{
  @extend .white-link;
  background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
  box-shadow: rgb(31, 38, 52) 20px 20px 60px, rgb(31, 38, 52) -20px -20px 60px;
  transition: all 0.2s ease-in-out 0s !important;
  padding: 15px 50px;
  transition: $delay-transition-3;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  &:hover{
    transform: scale(1.2,1.2);
  }
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: $white_color;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}


@include devices(largeScreen){
  .right-side .github-btn{
    display: none;
  }
  .container > .github-btn{
    display: block;
  }
  .burger-menu{
    display: none;
  }
}
@include devices(tablet){
  .right-side .github-btn{
    display: block;
  }
  .container > .github-btn{
    display: none;
  }
}
@include devices(mobile){
  .right-side .github-btn{
    display: block;
  }
  .container > .github-btn{
    display: none;
  }
}

