.container-packages{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  .package{
    width: 47%;
    padding: 1.5rem 2rem;
    border: 1px solid $gradient_color-1;
    border-radius: 10px;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    .title{
      @include textStyle(28px,600,$white_color-2);
      text-align: center;
      margin-bottom: 30px;
    }
    .tools{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: .5rem;
    }
  }
  
}




@include devices(mobile){
  .container-packages .package{
    width: 90%;
    // justify-content: center;
  }
}
@include devices(tablet){
  .container-packages .package{
    width: 70%;
    // justify-content: center;
  }
}

