<!-- Start Contact -->
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <section id="contact" class="contact py-2">
    <div class="container">
      <div class="top text-center">
        <h3 class="title">Contact</h3>
        <p>Feel free to reach out to me for any questions or opportunities!</p>
      </div>
      <div class="container-contact">
        <h3>Email Me 🚀</h3>
        <form action="">
          <input type="email" name="email" id="email" placeholder="Your Email" required>
          <input type="text" placeholder="Your Name" name="name" id="name" required>
          <input type="text" placeholder="Subject" name="subject" id="subject" required>
          <textarea name="message" id="message" rows="4" placeholder="Message" required></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>
  <!--------------------------------------------------------------------------------------------------------------------- -->
  <!-- End Contact -->
